<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE Grocery Planner</title>
</head>
<body>
    {% if messages %}
    <div id='errors'>
        {% for message in messages %}
            <p>- {{message}} -</p>
        {% endfor %}
    </div>
    {% endif %}
    <h1>Register:</h1>
    
    <form action="/register" method=POST>
        {% csrf_token %}
        First Name: <input type="text" name='fname'>
        Last Name: <input type="text" name='lname'>
        User Name: <input type="text" name='user_name'>
        Description: <input type="text" name='desc'>
        Password: <input type="password" name='pw'>
        Confirm PW: <input type="password" name='confpw'>
        <input type="submit" value='Create User'>
    </form>

    <h1>Login</h1>
    <form action="/login" method=POST>
        {% csrf_token %}
        User Name: <input type="text" name='user_name'>
        Password: <input type="password" name='pw'>
        <input type="submit" value='Login'>
    </form>
</body>
</html>